<%- include('../partials/header') %>

<p>Display Images</p>

<a href="/Images">All Images</a> 

<% tags.forEach(function (t) { %>
    <a href="/images/tagged/<%= t.description %>"><%=t.description%></a>
<% }) %>

<div id="image-container">
    <% images.forEach(function(i){ %>
        <form id="view-image" method="GET"
            action="/images/<%= i._id%>">
            <button id="image-button" style="background-image: url('<%= i.src.tiny %>')"></button>
        </form>
    <% }); %>
</div> 

<%- include('../partials/footer') %>

