<%- include('../partials/header') %>

<p><%= image.alt%></p>


<% if(currentTags.length !== 0) { %>
    <label>Current tags:</label>
    <% currentTags.forEach(function(t){ %>
        <ul>
            <li><%= t.description%></li>
        </ul>
    <% }) %> 
<% } %>

<% if(currentTags.length !== tags.length){ %>
    <form id="add-tag-form" method="POST"
        action="/image/<%= image._id %>/add-tag">
        <select name="tagId">
                <% tags.forEach(function(t){ %>
                    <% if(t.images.includes(image._id)){ %>
                        <% return; %>
                    <% } else { %>
                        <option value="<%= t._id%>"><%= t.description%></option>
                    <% } %>
                <%})%>
        </select>
        <button id="add-tag">Add new tag</button>
    </form>
<% } %>


<hr>
<img src="<%= image.src.large2x%>"> 


<p> Photographer: <%= image.photographer%></p>
<p><a href="<%= image.photographer_url%>" target="_blank">View more work by this photographer</a></p>

<%- include('../partials/footer') %>