<%- include('../partials/header') %>
<main>
    <p><%= user.name %> | Favourite images</p>
  <hr>

  <!--For future development: the ability for the user to upload their own images-->
    <!-- <form action="/users" enctype="multipart/form-data" method="POST">
      <div>
        <input type="file" name="image">
        <button type="submit">Upload</button>
      </div>
    </form> -->

  <!--Loops through all the images currently stored in the user's database and displays them-->
  <div id="images-container">
    <% user.images.forEach(function (image){ %>
      <form id="view-image" method="GET"
        action="/images/<%= image._id%>">
        <button class="image-button" style="background-image: url('<%= image.src.tiny %>')"></button>
      </form>
    <% });  %>
  </div> 
</main>


<%- include('../partials/footer') %>